.container-grid {
    display: grid;
    text-align: center;
}

.header {
    background-color: black;
    color: antiquewhite;
    min-height: 56px;
}

.menu {
    background-color: red;
    color: antiquewhite;
    min-height: 56px;
}

.hero {
    height: 336px;
    background-color: #4C86C6;
    color: antiquewhite;
    min-height: 56px;
}

.main {
    background-color: #24344B;
    color: antiquewhite;
    min-height: 230px;
}

.image {
    background-color: #C1E4E6;
    color: #000;
    min-height: 115px;
}

.extra {
    background-color: #4DBD97;
    color: #000;
    min-height: 115px;
}

.banner {
    background-color: #FFD169;
    color: #000;
    min-height: 112px;
}

@media (min-width: 1100px) {
    .container-grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .row-span2 {
        grid-row: span 2;
    }
    
    .col-span2 {
        grid-column: span 2;
    }
    
    .span3 {
        grid-column: span 3;
    }
    
    .span4 {
        grid-column: span 4;
    }
}

